nav {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

nav ul {
    padding-inline-start: 0;
}

.topnav {
    display: inline;
    background-color: #99ccff;
    padding: 1em;
    margin-top:.25em;
    margin-bottom: .25em;
    margin-right: 1em;
    border-radius: .5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav:hover {
    background-color: #ffcc99;
}

.dropdown {
    float: left;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 1em;
    left: 11.55em;
    z-index: 1;
    list-style: none;
    min-width: 4;
}

.topnav a {
    text-decoration: none;
    color: #000;
}

nav ul li ul li {
    padding: 1em;
    margin-top:.25em;
    margin-bottom: .25em;
    background-color: #99ccff;
    border-radius: .5em;
}

li.topnav.projList:hover .dropdown-content {
    display: block;
}

.dropItem:hover {
    background-color: #ffcc99;
}