nav {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

.collapseNav {
    background-color: #ffcc99;
    padding: .75em;
}

@media screen and (min-width: 650px) {

    .topnav {
        display: inline;
        padding: .5em;
        margin-top:.25em;
        margin-bottom: .25em;
        margin-right: 1em;
        text-align: center;
    }

    .topnav a:hover {
        background-color: #ffcc99;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        top: 3em;
        left: 40%;
        z-index: 1;
        list-style: none;
    }
    
    li.topnav.projList:hover .dropdown-content {
        display: block;
    }

    .dropdown-content li {
        margin-top: 35px;
    }

    .dropItem > a{
        font-size: large; 
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top:.25em;
        margin-bottom: .25em;
        background-color: #99ccff;
        border-radius: .5em;
        width: 7em;
        height: 1.25em;
    }
    
    .dropItem a:hover {
        background-color: #ffcc99;
    }

    .collapseNav {
        display: none;
    }

    .collapseNav2 {
        display: none;
    }

    .grid-nav {
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        gap: 10px;
        padding: 0px;
    }

    .topnav > a {
        font-size: large; 
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top:.25em;
        margin-bottom: .25em;
        background-color: #99ccff;
        border-radius: .5em;
        width: 7em;
        height: 1.25em;
    }
}

nav ul {
    padding-inline-start: 0;
}

.topnav {
    list-style: none;
    border-radius: .5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 649px) {
    #navbar {
        display: none;
    }

    .dropdown-content {
        display: none;
        /*display: block;
        list-style: none;
        position: absolute;
        top: 6.75em;
        left: 0;
        margin: .25em;
        z-index: 1;*/
    }

    nav ul li ul li {
        background-color: #ffcc99;
        border-radius: .5em;
        padding: .25em;
        margin: .25em;
        min-width: 4em;
        min-height: 1.25em;
    }
    /*li.topnav.projList:click .dropdown-content {
        display: block;
    }*/

    .collapseNav {
        display: inline;
        background-color: #99ccff;
    }

    #navbar:target {
        display: block;
    }
    
    .topnav {
        margin: .25em;
        padding: .25em;
    }

    .topnav > a {
        font-size: large; 
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .25em;
        padding-bottom: .25em;
        margin-top:.25em;
        margin-bottom: .25em;
        background-color: #99ccff;
        border-radius: .5em;
        height: 1em;
        width: auto;
    }

}