/* Level 1 Heading Modification */
h1 {
    font-size: 1.75em;
    border: .05em solid #000;
    border-radius: .25em;
    padding: .2em;
    background-color: #ffcc99;
}

/* Page Padding */
body {
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
}