/* Page Formatting */
    @font-face {
        font-family: retroFont;
        src: url(EduVICWANTBeginner-VariableFont_wght.ttf);
        font-weight: bold;
    }

    h1 {
        font-size: 1.75em;
        /*border: .05em solid #000;*/
        border-radius: .25em;
        padding: .2em;
        background-color: #ffcc99;
        font-family: retroFont;
    }

    body {
        padding-top: .5em;
        padding-left: .5em;
        padding-right: .5em;
        margin:0;
    }

    footer {
        margin: 0;
        padding: 1.95em;
        background-image: url(images/toffeeHead32-2.jpg);
        background-size: auto;
        background-repeat: repeat-x;
        color: #fff;
        background-color: #434243;
    }
    
    .inPageIcon {
        height: 1em;
        width: auto;
        transition: width 2s, height 2s;
    }

    .inPageIconLarge {
        position: absolute;
        z-index: 1000;
        height: 0;
        width: auto;
        transition: width 2s, height 2s;
    }

    .inPageIcon:hover + .inPageIconLarge {
        height: 2em;
        width: auto;
    }

    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    object.largeObject{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    iframe.largeObject {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        border-width: 0em;
    }

    #nonPrintH1 {
        display: block;
    }

    #printH1 {
        display: none;
    }

    table, th, td {
        border: 1px solid #434243;
        border-collapse: collapse;
        padding: 1em;
    }

    .styleTable th {
        text-decoration: underline;
    }

    .styleTable tr:nth-child(even) {
        background-color: #99ccff;
    }

    .styleTable tbody tr:first-child, .styleTable tbody tr:last-child {
        background-color: #ffcc99;
    }

    caption {
        font-style: italic;
    }

/**/

/* Custom Boxes and Text */
    .indented {
        text-indent: 5em;
        padding: 1em;
        width: auto;
        margin: .25em;
        border: 0;
    }

    .blueBox {
        background-color: #99ccff;
        border-radius: 1em;
        padding: 1em;
    }  

    .indented:first-of-type::first-letter {
        font-size: 130%;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }

    .indented:first-of-type {
        text-indent: 0;
    }
/**/

/* Desktop View */
    @media screen and (min-width: 700px) {
        .rightAligned{
            position: absolute;
            right: 0px;
            float: right;
        }
        
        footer p {
            margin-block-start: 0;
            margin-block-end: 0;
            display: inline;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 10px;
            padding: 10px;
        }

        .orangeButton {
            background-color: #ffcc99;
            margin-top: .75em;
            margin-bottom: .75em;
            margin-left: auto;
            margin-right: auto;
            padding: 1.25em;
            font-size: medium;
            text-decoration: none;
            max-width: 320px;
            text-align: center;
        }

        img {
            width: 60%;
            height: auto;
        }

        .largeObject {
            width: 500px;
            height: 250px;
            max-width: 100%;
        }

        table, th, td {
            padding: 1em;
        }

        .longField {
            padding: .5em;
            margin: 1em;
            width: 75%;
        }

        .largeField {
            height: 6em;
        }
        
        form {
            margin: 1em;
            padding: 1em;
            border: #000 solid 1px;
        }
    }
/**/

/* Mobile View */
    @media screen and (max-width: 699px) {
        h1 {
            font-size: 1.25em;
        }
        h3 {
            font-size: 1em;
        }

        img {
            width: 75%;
            height: auto;
        }

        .centered {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .orangeButton {
            background-color: #ffcc99;
            margin-top: .5em;
            margin-bottom: .5em;
            padding: 1em;
            font-size: small;
            text-decoration: none;
            text-decoration: none;
            max-width: 320px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .largeObject {
            min-width: 75%;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        p.indented {
            padding: .25em;
        }

        .grid-container {
            padding: .25em;
        }

        table, th, td {
            padding: .35em;
            font-size: small;
        }

        caption {
            font-size: small;
        }

        figure {
            margin: 0em;
        }

        .longField {
            padding: .25em;
            margin: .5em;
            width: 55%;
        }

        .largeField {
            height: 4em;
        }

        form {
            margin: .5em;
        }
    }
/**/

/* Print View */
@media print {

    nav {
        display: none;
    }

    img.centered {
        display: none;
    }

    i.fa {
        display: none;
    }

    img.inPageIcon {
        display: none;
    }

    img.inPageIconLarge {
        display: none;
    }

    footer {
        color: #000;
        font-family: 'Times New Roman', Times, serif;
    }

    .orangeButton {
        display: none;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        color: #000;
        margin: 1in;
    }

    h1 {
        font-family: retroFont;
    }

    iframe.largeObject {
        display: none;
    }

    object.largeObject {
        display: none;
    }

    #nonPrintH1 {
        display: none;
    }

    #printH1 {
        display: block;
    }
}